*{ margin:0; padding:0; list-style:none;} 
body {
    font-size: 12px;
    color: #555;
}
a{ text-decoration:none;} 
a:hover{ text-decoration:none;} 

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* 容器 */
#container {
    width: 902px;
    margin: 0 auto;
}

/* 头部 */
#header {
    background-color: #eee;
    padding: 40px;
}

#header h1 {
    font-size: 28px;
    color: #81aae7;
    text-align: center;
}

#header h3 {
    color: #795e4c;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

/* 内容区域 */
#content {
    border: 1px solid #eee;
}

#content li {
    float: left;
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

#content li:hover {
    box-shadow:2px 2px 2px #555 ;
}

#content li img{
    width: 100%;
}

#content .title {
    color: #81aae7;
    font-size: 14px;
    max-width: 75%;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
#content .hasnote {
    display: block;
    float: right;
    margin-right: 10px;
    color: #777;
}

#content .subtitle {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #795e4c;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

#content .timespan {
    height: 20px;
    line-height: 20px;
}

.long {
    color: rgb(99, 155, 99);
}

.short {
    color: rgb(179, 146, 58);
}

/* 分页 */
.tcdPageCode {
    width: 455px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;} 
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px; padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;} 
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;} 