*{ margin:0; padding:0; list-style:none;} 
body {
    font-size: 12px;
    color: #555;
}
a{ text-decoration:none;} 
a:hover{ text-decoration:none;} 

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* 容器 */
#container {
    width: 902px;
    margin: 0 auto;
}

/* 头部 */
#header {
    background-color: #eee;
    padding: 40px;
}

#header h1 {
    font-size: 28px;
    color: #81aae7;
    text-align: center;
}

#header h3 {
    color: #795e4c;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

/* 内容区域 */
#content {
    border: 1px solid #eee;
}

#content li {
    float: left;
    width: 30%;
    margin: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

#content li:hover {
    box-shadow:2px 2px 2px #555 ;
}

#content li img{
    width: 100%;
}

#content .title {
    color: #81aae7;
    font-size: 14px;
    max-width: 75%;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
#content .hasnote {
    display: block;
    float: right;
    margin-right: 10px;
    color: #777;
}

#content .subtitle {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #795e4c;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content .timespan {
    height: 20px;
    line-height: 20px;
}

.long {
    color: rgb(99, 155, 99);
}

.short {
    color: rgb(179, 146, 58);
}

/* 分页 */
.tcdPageCode {
    width: 455px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;} 
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px; padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;} 
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;} 

/* 锁屏 */
#lock {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

#chapter, #note {
    width: 49%;
    height: 100%;
}

#chapter {
    background-color: rgb(206, 181, 181);
    float: left;
}

#note {
    background-color: rgb(156, 167, 128);
    float: right;
}

#note-middle {
    width: 4%;
    height: 100%;
    background: url('../images/middle.jpg') repeat-y;
    background-size: contain;
    position: absolute;
    z-index: 1001;
    left: 48%;
}

/* 章节大纲部分 */

#chapter > ul, #note > ul {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto;
}

#chapter > ul h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#chapter > ul > li {
    padding: 5px 0;
}

#chapter .chapter-title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: rgba(46, 98, 177, 0.529);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chapter-subtitle {
    padding-left: 5%;
}

.chapter-subtitle li {
    height: 20px;
    line-height: 20px;
}

.chapter-subtitle h4.chapter-subtitle-item {
    max-width: 80%;
    font-size: 14px;
    color: rgb(124, 103, 103);
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.chapter-subtitle .chapter-timespan {
    display: block;
    float: right;
}

/* 笔记部分 */

#note ul {
    padding-left: 5%;
    padding-top: 15px;
}

#note h2 {
    color: #428bca;
    font-size: 18px;
}

#note .format-date {
    color: #795e4c;
}

/* empty */

.empty {
    color: rgb(155, 51, 51);
    text-align: center;
    font-size: 16px;
    padding: 5% 0;
}

